* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --color1: #ffb300;
    --color2: black;
    --color3: white;
    --transition: all 0.4s ease-in-out;
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /*###################################################### Start header ######################################################*/
  .navbar-nav .nav-link {
    color: var(--color2);
  }
  
  .navbar-nav .nav-link:hover {
    color: var(--color1);
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .icon-us i {
    padding-left: 4px;
    font-size: 13px;
    font-size: bold;
  }
  
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    width: 27vmin;
  }
  
  .navbar .nav-item .dropdown-menu .dropdown-item {
    font-size: 16px;
    padding: 9px 25px;
    font-weight: 600;
    color: var(--color2);
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  
  .navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background: 0 0;
    color: var(--color1);
    padding-left: 32px;
  }
  
  .navbar .nav-item .dropdown-menu .dropdown-item::before {
    content: "//";
    position: absolute;
    width: 100px;
    height: 100px;
    left: 15px;
    top: 9px;
    color: var(--color1);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    z-index: -1;
  }
  
  .navbar .nav-item .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
    visibility: visible;
  }
  
  /* ################################Ahmad####################################### */
  /* Hero Image  */
  
  .hero-img {
    background-image: url(../hero.jpg);
    height: 100vh;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-img h1 {
    align-items: center;
    color: white;
  }
  
  /* ####################################################################### */
  
  /* Start Book Taxi Section */
  
  .book-taxi .container {
    position: relative;
    bottom: 100px;
    height: 40vh;
    border-radius: 16px;
    background-color: var(--color3);
    /* box-shadow: 0 0 2px var(--color1); */
    padding: 30px;
  }
  .book-taxi .container p {
    font-size: 28px;
    font-weight: 700;
  }
  /* Form & animation input */
  
  .book-taxi .container .form {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  
    margin-right: 10px;
  }
  
  .book-taxi .container .form input {
    margin-bottom: 10px;
    width: 200px;
    height: 57px;
  
    padding: 14px 50px 14px 20px;
    border-radius: 12px;
    font-size: 18px;
    border: 1px solid #ced4da;
  }
  
  .book-taxi .container .form input::backdrop {
    border: 1px solid var(--color1);
  }
  .book-taxi .container .form input:hover {
    border: 2px solid var(--color1);
  }
  
  /* #######################################################################3 */
  
  /* Select & animation Select */
  .book-taxi .container .form select::backdrop {
    border: 1px solid var(--color1);
  }
  .book-taxi .container .form select:hover {
    border: 2px solid var(--color1);
  }
  
  .book-taxi .container .form select option::selection {
    color: var(--color1);
    background-color: var(--color1);
  }
  .book-taxi .container .form select option[value] {
    background: #ffb92d;
    color: var(--color2);
    font-weight: 600;
  }
  
  .book-taxi .container .form select {
    margin-bottom: 10px;
    width: 200px;
    height: 57px;
    padding: 14px 40px 14px 20px;
    border-radius: 12px;
    font-size: 18px;
  }
  
  /* End Book Taxi Section */
  
  /* #######################################################################3 */
  
  /* Start About Section */
  
  .about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .about .container img {
    width: 576px;
    height: 453px;
  }
  .about .container .text p {
    font-weight: 500;
    font-size: 14px;
    color: rgb(117, 127, 149);
  }
  .about .container .text p i {
    margin-right: 10px;
  }
  
  .about .text {
    margin-left: 20px;
  }
  
  .about .text span {
    color: var(--color1);
  }
  .about .text h5 {
    color: var(--color1);
  }
  .about .text h1 {
    font-family: sans-serif;
  
    font-weight: 700;
  
    color: rgb(17, 17, 17);
  }
  
  /* End About Section */
  /* #######################################################################3 */
  
  /* buttons */
  .about button, .book-taxi button{
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: var(--color3);
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: var(--color1);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    border-radius: 50px;
    padding: 14px 25px;
    color: black;
    font-weight: bold;
  }
  
  .about button::before, .book-taxi button::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--color2);
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }
  
  .about button:hover, .book-taxi button:hover {
    cursor: pointer;
    color: var(--color3);
  }
  
  .about button:hover::before, .book-taxi button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  }
  
  /* #######################################################################3 */
  /* #######################################################################3 */
  
  /* ------------------------------------------------------------------------------------------ */
  /*###################################################### End header ######################################################*/
  /*###################################################### Start footer ######################################################*/
  .footer {
    background-color: #111111;
    padding: 50px 0 0 0;
    color: var(--color3);
  }
  
  footer .grid-footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .colum-1,
  .colum-2,
  .colum-3,
  .colum-4 {
    padding: 10px;
  }
  
  footer .colum-1 img {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  
  .footer-contact li {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px
  }
  
  footer .colum-1 {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  
  footer .colum-1 ul {
    padding: 0;
  }
  
  .footer .colum-1 ul li a {
    text-decoration: none;
    color: var(--color3);
  }
  
  .footer-contact li i {
    width: 35px;
    line-height: 35px;
    margin-right: 15px;
    border-radius: 50px;
    background: var(--color1);
    text-align: center;
    color: var(--color3)
  }
  
  /*###################################################### Link 1 + Link 2 */
  footer .colum-2 h4,
  footer .colum-3 h4,
  footer .colum-4 h4 {
    color: var(--color3);
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 600;
    z-index: 1;
  }
  
  footer .colum-2 h4::before,
  footer .colum-3 h4::before,
  footer .colum-4 h4::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    background: rgba(255, 255, 255, .2);
    bottom: 0;
  }
  
  footer .colum-2 h4::after,
  footer .colum-3 h4::after,
  footer .colum-4 h4::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--color1);
    bottom: 0;
    left: 1rem;
  }
  
  footer .footer-link {
    padding: 0
  }
  
  footer .footer-link {
    padding: 0
  }
  
  footer .footer-link li {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    transition: var(--transition);
  }
  
  footer .footer-link li:hover {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    padding-left: 10px;
    transition: var(--transition);
  }
  
  footer .footer .colum-2 ul li a,
  footer .footer .colum-3 ul li a {
    text-decoration: none;
    color: var(--color3);
    font-weight: 600;
    transition: var(--transition);
  }
  
  footer .footer .colum-2 ul li a:hover,
  footer .footer .colum-3 ul li a:hover {
    color: var(--color1);
    transition: var(--transition);
  }
  
  footer .footer-link li i {
    width: 20px;
    line-height: 35px;
    text-align: center;
    color: var(--color1)
  }
  
  footer .colum-4 input {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 16px;
    outline: none;
  }
  
  footer .colum-4 button {
    z-index: 1;
    width: 100%;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 50px;
    outline: none;
    font-weight: bold;
    border: none;
    background-color: var(--color1);
    color: var(--color2);
    overflow: hidden;
    transition: var(--transition);
  }
  
  footer .colum-4 button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--color3);
    transform-origin: center;
    transition: transform 0.7s ease-in-out;
  }
  
  footer .colum-4 button:hover {
    cursor: pointer;
    color: var(--color1);
    transition: var(--transition);
  }
  
  footer .colum-4 button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  }
  
  .Copyright {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
  
  .Copyright .cop {
    margin: auto;
  }
  
  .Copyright .cop span {
    color: var(--color1);
    font-weight: bold;
  }
  
  .Copyright .social {
    background-color: var(--color1);
    width: 48%;
    height: 100px;
    position: relative;
  }
  
  .Copyright .social::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 75px;
    background-color: var(--color1);
    transform: skewX(-30deg);
    left: -29px;
  }
  
  .Copyright .social ul {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
  }
  
  .Copyright .social li {
    list-style-type: none;
    display: inline;
    padding: 5px;
  }
  
  .Copyright li a {
    text-decoration: none;
  }
  
  .Copyright li a i {
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    background: var(--color2);
    color: var(--color1);
    transition: var(--transition);
  }
  
  .Copyright li a i:hover {
    background-color: var(--color3);
  }
  
  /*###################################################### Start footer ######################################################*/
  @media (max-width: 320px) {
    footer {
      width: fit-content;
      overflow: hidden;
    }
    .about .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
    }
    .about .container img {
      width: 200px;
      height: 150px;
    }
  
    .about .container .text h5 {
      font-size: 12px;
    }
    .about .container .text h1 {
      font-size: 20px;
    }
  
    .about .container .text p {
      font-size: 7px;
    }
  
    button {
      padding: 3px;
      font-size: 10px;
    }
  }
  
  /* extra Small */
  @media (max-width: 425px) {
    .container {
      width: 320px;    overflow: hidden;
  
      
    }
    .book-taxi .container {
      height: 55rem;
      
    }  
  
    
    .about .container img {
      width: 20rem;}
    .about .container {
      display: flex;
     
      
      
    }
   .about .container  {
    display: flex;
    flex-direction: column;
   }
    
    /* .about .container div {
      display: flex;
      justify-content: center;
      flex-direction: column;
    } */
  
    .form {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 600px) {
    .Copyright .social {
      width: 100%;
    }
    
  }
  @media (max-width: 767px) {
    .about .container{
  
      display: flex;
      flex-direction: column;
  
    }
    .book-taxi .container {
      position: relative;
      bottom: 100px;
      /* height: 40vh; */
      border-radius: 16px;
      background-color: var(--color3);
      /* box-shadow: 0 0 2px var(--color1); */
      padding: 30px;
  }
  
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
      overflow: hidden;
  
    }
  
  
    
  .book-taxi .container {
    position: relative;
    bottom: 100px;
    border-radius: 16px;
    background-color: var(--color3);
    /* box-shadow: 0 0 2px var(--color1); */
    padding: 30px;
  }
  
  .about .container { 
    display: flex;
    flex-direction: column;
  }
  
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    .about .container {
      display: flex;
    flex-direction: row;
  
      }
  }
  
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  
    
  }
  
  
  
  
  /* ##################################################3 */